app/bootstrap.php.cache

app/config/parameters.ini
app/phpunit.xml
app/config/*_local.yml
app/cache/*
app/logs/*

web/bundles/*
web/css/*
web/js/*
web/assets/*
web/media/*

tags
*.swp
*.*~

.rsync_cache/
